/**
  darkgreen #5A7A61 // lightgreen #88AF4A // blue #6E99A4  // [[blue #448995]]

  turquoise (okf new logo): #3b8e7f
**/

body {
  color: #555;
}

h1, h2, h3, h4, h5, h6,
#content h1, #content h2, #content h3, #content h4, #content h5, #content h6,
#content .entry-title, .entry-title a:link, .entry-title a:visited
{
	color: #555;
	font-weight: bold;
	clear: none;
	line-height: 1.3em;
}

#content h4 {
	line-height: 1em;
}

#content .entry-title, h1 {
  font-size: 1.7em;
}

.entry-content {
	margin-bottom: 20px;
}

/** general links & co **/

a:link, a:visited, a:active, a, a:hover{
	color: #6E99A4;	
}

a:link, a:visited, a:active, a{
	text-decoration: none;	
}

a:hover {
	text-decoration: underline;
}

.entry-content a, .entry-content a:visited{
	color: #6E99A4;
}

/* =Structure
-------------------------------------------------------------- */
#site-generator, #site-info{
	display:none;
}

#wrapper {
	background-color: #fff;
}


/* =Header
-------------------------------------------------------------- */

#header {
  padding-top: 10px;
}

#branding {
  height: 90px;
}

/* hide twenty-ten image */
#branding img {
  display: none;
}

#branding img.logo {
  display: block;
	border: none;
  float: left;
  height: 80px;
}

#site-title {
  margin: 0 0 0 90px;
  padding-top: 12px;
  float: none;
  clear: none;
}

#site-title a {
  color: #5A7A61;
  font-weight: bold;
  text-decoration: none;
}

#site-description {
  color: #5A7A61;
	clear: none;
	margin: 0;
	float: none;
  	margin-left: 90px;
  	clear: none;
	width:700px;
	font-style:normal;
	font-weight:bold;
	font-size:1.2em;
	font-family:"Helvetica Neue",Arial,Helvetica,"Nimbus Sans L",sans-serif;
}

#searchbox {
  clear: right;
  float: right;
  margin-top: 10px;
  width: 320px;
  color: #fff;
  text-align: right;
}

#searchbox  input {
	background-color: #fff;
}


/* =Menu
-------------------------------------------------------------- 
*/

#access {
  background: #6E99A4;
}

#access a {
  color: #d2d2d2;
}

#access ul ul a {
  background: none repeat scroll 0 0 #fff;
  padding: 5px 10px;
  width: 180px;
  color: #6E99A4;
  text-transform: none;
}

#access li:hover > a,
#access ul ul :hover > a
{
	color: #aaa;
	background: #fff;
}


#access ul li.current_page_item:hover > a,
#access ul li.current-menu-ancestor:hover > a,
#access ul li.current-menu-item:hover > a,
#access ul li.current-menu-parent:hover > a {
	color: #aaa;
}

#access ul li li.current_page_item > a, #access ul li li.current-menu-ancestor > a, #access ul li li.current-menu-item > a, #access ul li li.current-menu-parent > a {
color:#d2d2d2;
}

/* =Footer
-------------------------------------------------------------- */

#colophon {
	border-top: 2px solid #222;
}

#footer-widget-area a {
	text-decoration: underline;
	color: #666;
}

#footer-widget-area a:hover {
	color: #222;
}

#footer .widget-container ul {
  margin-left: 0;
}

#footer h3.widget-title{
  margin-bottom: 5px;
}


/** main
-----------------------------------------------**/

#main {
	padding: 20px 0 0;
}

#content,
#content input,
#content textarea {
	color: #666;
  font-size: 14px;
  line-height: 21px;
}

#content input,
#content textarea {
  font-size: 12px;
  line-height: 18px;
}

hr {
	background-color: #E7E7E7;
	border: 0;
	height: 1px;
	margin-bottom: 18px;
}

p {
	margin-bottom: 18px;
	color:#666;
}

ul {
	margin: 0 0 18px 0;
}

#content, #content input, #content textarea {
color:#666;
}

#content p:last-child {
  margin-bottom: 0px;
}

/** main / pages
-----------------------------------------------**/

/**********************************************
  Forms
 **********************************************/

input[type="text"], textarea {
  -webkit-box-shadow: none;
  background: transparent;
}

/** rounded corners
-----------------------------------------------**/

#access,
#primary li.widget-container,
#secondary li.widget-container,
div#primary ul ul li,
#wpng-cal-widget-events {
  -moz-border-radius: 10px; /* Firefox */
  -webkit-border-radius: 10px; /* Safari, Chrome */
  border-radius: 10px; /* CSS3 */
}

.widget-container > * {
  -moz-border-radius: 8px; /* Firefox */
  -webkit-border-radius: 8px; /* Safari, Chrome */
  border-radius: 8px; /* CSS3 */
}

#slideshow {
  -moz-border-radius: 20px; /* Firefox */
  -webkit-border-radius: 20px; /* Safari, Chrome */
  border-radius: 20px; /* CSS3 */
}

