/*
*
* Description: CSS for Widget-area & Widgets;
*
*/

.widget-area a, .widget-area a:active, .widget-area a:hover {
	color: #88AF4A;
}

#main .widget-area ul ul,
.widget-area ul ul
{
	list-style: none;
}

/** =sidebar
------------------------------------------------------**/

#primary a,
#primary,
#secondary,
#secondary a
{
	font-size:1em;
	font-weight:bold;
}

#primary li.widget-container,
#secondary li.widget-container
{
	margin-bottom: 20px;
}

#main li.widget-container {
	background-color: #88AF4A;
	padding-bottom: 5px;
}

#main .widget-area ul ul,
#main .widget-container > *
{
  background-color: #fff;
  margin:0 5px;
  padding:5px;
}



#primary h3.widgettitle, #secondary .widget-title, #primary .widget-title
{
	padding-top:10px;
	margin:5px;
	color: #fff;
    background: transparent;
}


/**  Twitter **/


.aktt_tweets, .aktt_tweets ul{
	margin:0 !important;
	padding:0 !important;
	background:transparent !important;
}

.aktt_tweets li{
	margin:5px;
	padding:5px;
	background-color:#fff;
	
}

li.aktt_more_updates a {
	color: #fff;
}

li.aktt_more_updates a:hover {
	text-decoration:underline;
	color:#fff;
}

li.aktt_more_updates {
	padding: 5px 10px;
	margin: 0;
	background-color: #88AF4A;
}


/** events **/

#wpng-cal-widget-events {
	background-color: #fff;
}

#wpng-cal-widget-events {
	margin: 0 5px;
	padding: 5px;
	font-size: 1em;
	background-color: #fff;
}
#wpng-cal-widget-events li {
    margin-bottom: .2em;
}

.wpng-widget-date-title {
	font-size: 1.1em;
}

#wpng-cal-load-widget + div{
	display:none;
}
