/*
*
* Description: CSS for Widget-area & Widgets;
*
*/

.widget-area a, .widget-area a:active, .widget-area a:hover {
	color: #88AF4A;
}

#main .widget-area ul ul,
.widget-area ul ul
{
	list-style: none;
}

/** =sidebar
------------------------------------------------------**/

#primary a,
#primary,
#secondary,
#secondary a
{
	font-size:1em;
	font-weight:bold;
}

#primary li.widget-container,
#secondary li.widget-container
{
	margin-bottom: 20px;
}

#main li.widget-container {
	background-color: #88AF4A;
	padding-bottom: 5px;
}

#main .widget-area ul ul

{
  background-color: #fff;


}

#main .widget-container > *{
   background-color: #fff;
	padding:5px;
	margin: 0 5px;
}


#primary h3.widget-title a:link, #primary h3.widget-title a:visited, #primary h3.widget-title a:hover{
	color:#fff;
}

div#primary ul ul li{
	background-color:#fff;
	margin:5px;
	padding:5px;
	background-color:#fff;	
}

div#primary ul ul{
	background-color:#88AF4A !important;
	margin:0 !important;
	padding:0 !important;
}

#primary h3.widgettitle, #secondary .widget-title, #primary .widget-title
{
	padding-top:10px;
	margin:5px;
	color: #fff;
    background: transparent;
}


/**  Twitter **/

div.aktt_tweets{
	padding:0 !important;
		margin:0 !important;
}

li.aktt_more_updates a {
	color: #fff !important;
}

li.aktt_more_updates a:hover {
	text-decoration:underline;
	color:#fff;
}

li.aktt_more_updates {
	padding: 5px 10px;
	margin: 0;
	background-color: #88AF4A !important;
}


/** events **/

#wpng-cal-widget-events {
	background-color: #fff;
}

#wpng-cal-widget-events {
	margin: 0 5px;
	padding: 5px;
	font-size: 1em;
	background-color: #fff;
}
#wpng-cal-widget-events li {
    margin-bottom: .2em;
}

.wpng-widget-date-title {
	font-size: 1.1em;
}

#wpng-cal-load-widget + div{
	display:none;
}


/**  RSS-Widget  **/

.widget_rss a.rsswidget, .widget_rss a.rsswidget:hover {
	color:#88AF4A;
}

/** Tweet Blender Widget **/
div.tb_footer{
	margin-bottom:25px;
	margin-top:5px;
}

form#tweetblender-3-f{
	display:none;
}

a.tb_photo img{
	border:none;
}

div.tb_tweet{
	border-top:none;
	border-bottom:1px dotted #cccccc;
}

div.tb_tweetlist {
border-bottom:none;
}

/** Google Docs Css **/

#ss-form .entry-content label {
color:#666;
font-size:1em;
}

#ss-form{
border:1px dotted #666;
padding:10px;
}